In [1]:
%%script C:\Users\Jan Catherine\AppData\Local\Programs\Python\Python38\python.exe
import sys
print(sys.version)

3.8.10 (tags/v3.8.10:3d8993a, May  3 2021, 11:48:03) [MSC v.1928 64 bit (AMD64)]

In [2]:
pwd

'C:\\Users\\Jan Catherine\\Documents\\CMSC Notes\\CMSC 190 Part 2\\Codes\\MachineLearning'

In [3]:
import os
os.chdir('../../Data_Collection_03/02_Preprocessing/02_URL')

In [4]:
### Code by Krish Naik (Tutorial 5- Feature Selection-
### Perform Feature Selection Using Chi2 Statistical Analysis)

import pandas as pd
dataset = pd.read_csv("09_urlfeat.csv")

In [5]:
dataset.head()

,entropy,domDigitStart,numDigits,numDots,numSemicolon,numAmpersand,numSlash,numHyphen,numUnderscore,numEqual,...,ext,num_%20,num_@,has_ip,registered,word_blog,word_socmed,word_news,word_covid,Fake
0,0.737892,False,0.000000,0.142857,0,0.0,0.000,0.000000,0.0,0.000000,...,gov,0,0,0,0.552632,False,False,False,False,0
1,0.642800,False,0.044444,0.142857,0,0.0,0.125,0.333333,0.0,0.058824,...,com,0,0,0,0.631579,False,False,True,True,0
2,0.791088,False,0.066667,0.142857,0,0.0,0.250,0.074074,0.0,0.000000,...,com,0,0,0,0.631579,False,False,False,False,0
3,0.560102,False,0.177778,0.142857,0,0.0,0.125,0.444444,0.0,0.000000,...,it,0,0,0,0.552632,False,False,False,True,0
4,0.615622,True,0.111111,0.000000,0,0.0,0.250,0.111111,0.0,0.000000,...,org,0,0,0,0.684211,False,False,False,False,0

In [6]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 850 entries, 0 to 849
Data columns (total 25 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   entropy        850 non-null    float64
 1   domDigitStart  850 non-null    bool
 2   numDigits      850 non-null    float64
 3   numDots        850 non-null    float64
 4   numSemicolon   850 non-null    int64
 5   numAmpersand   850 non-null    float64
 6   numSlash       850 non-null    float64
 7   numHyphen      850 non-null    float64
 8   numUnderscore  850 non-null    float64
 9   numEqual       850 non-null    float64
 10  numQuestion    850 non-null    int64
 11  urlLength      850 non-null    float64
 12  numParams      850 non-null    float64
 13  hasHttp        850 non-null    bool
 14  hasHttps       850 non-null    bool
 15  ext            850 non-null    object
 16  num_%20        850 non-null    int64
 17  num_@          850 non-null    int64
 18  has_ip         850 non-null    int64
 19  registered     850 non-null    float64
 20  word_blog      850 non-null    bool
 21  word_socmed    850 non-null    bool
 22  word_news      850 non-null    bool
 23  word_covid     850 non-null    bool
 24  Fake           850 non-null    int64
dtypes: bool(7), float64(11), int64(6), object(1)
memory usage: 125.5+ KB

In [7]:
#dataset.Fake = dataset.Fake.astype('object')

In [8]:
dataset.head()

,entropy,domDigitStart,numDigits,numDots,numSemicolon,numAmpersand,numSlash,numHyphen,numUnderscore,numEqual,...,ext,num_%20,num_@,has_ip,registered,word_blog,word_socmed,word_news,word_covid,Fake
0,0.737892,False,0.000000,0.142857,0,0.0,0.000,0.000000,0.0,0.000000,...,gov,0,0,0,0.552632,False,False,False,False,0
1,0.642800,False,0.044444,0.142857,0,0.0,0.125,0.333333,0.0,0.058824,...,com,0,0,0,0.631579,False,False,True,True,0
2,0.791088,False,0.066667,0.142857,0,0.0,0.250,0.074074,0.0,0.000000,...,com,0,0,0,0.631579,False,False,False,False,0
3,0.560102,False,0.177778,0.142857,0,0.0,0.125,0.444444,0.0,0.000000,...,it,0,0,0,0.552632,False,False,False,True,0
4,0.615622,True,0.111111,0.000000,0,0.0,0.250,0.111111,0.0,0.000000,...,org,0,0,0,0.684211,False,False,False,False,0

In [9]:
dataset.info()
dataset.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 850 entries, 0 to 849
Data columns (total 25 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   entropy        850 non-null    float64
 1   domDigitStart  850 non-null    bool
 2   numDigits      850 non-null    float64
 3   numDots        850 non-null    float64
 4   numSemicolon   850 non-null    int64
 5   numAmpersand   850 non-null    float64
 6   numSlash       850 non-null    float64
 7   numHyphen      850 non-null    float64
 8   numUnderscore  850 non-null    float64
 9   numEqual       850 non-null    float64
 10  numQuestion    850 non-null    int64
 11  urlLength      850 non-null    float64
 12  numParams      850 non-null    float64
 13  hasHttp        850 non-null    bool
 14  hasHttps       850 non-null    bool
 15  ext            850 non-null    object
 16  num_%20        850 non-null    int64
 17  num_@          850 non-null    int64
 18  has_ip         850 non-null    int64
 19  registered     850 non-null    float64
 20  word_blog      850 non-null    bool
 21  word_socmed    850 non-null    bool
 22  word_news      850 non-null    bool
 23  word_covid     850 non-null    bool
 24  Fake           850 non-null    int64
dtypes: bool(7), float64(11), int64(6), object(1)
memory usage: 125.5+ KB

,entropy,domDigitStart,numDigits,numDots,numSemicolon,numAmpersand,numSlash,numHyphen,numUnderscore,numEqual,...,ext,num_%20,num_@,has_ip,registered,word_blog,word_socmed,word_news,word_covid,Fake
0,0.737892,False,0.000000,0.142857,0,0.0,0.000,0.000000,0.0,0.000000,...,gov,0,0,0,0.552632,False,False,False,False,0
1,0.642800,False,0.044444,0.142857,0,0.0,0.125,0.333333,0.0,0.058824,...,com,0,0,0,0.631579,False,False,True,True,0
2,0.791088,False,0.066667,0.142857,0,0.0,0.250,0.074074,0.0,0.000000,...,com,0,0,0,0.631579,False,False,False,False,0
3,0.560102,False,0.177778,0.142857,0,0.0,0.125,0.444444,0.0,0.000000,...,it,0,0,0,0.552632,False,False,False,True,0
4,0.615622,True,0.111111,0.000000,0,0.0,0.250,0.111111,0.0,0.000000,...,org,0,0,0,0.684211,False,False,False,False,0

In [10]:
##['hasHttp','hasHttps','hasHttp','hasHttps','ext','has_ip','Fake']
dataset = dataset[['domDigitStart','hasHttp','hasHttps','ext','has_ip','word_blog','word_socmed','word_news','word_covid','Fake']]
dataset.head()

,domDigitStart,hasHttp,hasHttps,ext,has_ip,word_blog,word_socmed,word_news,word_covid,Fake
0,False,True,False,gov,0,False,False,False,False,0
1,False,True,False,com,0,False,False,True,True,0
2,False,True,False,com,0,False,False,False,False,0
3,False,True,False,it,0,False,False,False,True,0
4,True,False,True,org,0,False,False,False,False,0

In [11]:
### Label Encoding

import numpy as np

#ext
ordinal_label = {k: i for i, k in enumerate(dataset['ext'].unique(), 0)}
dataset['ext'] = dataset['ext'].map(ordinal_label)

In [12]:
dataset.head()

,domDigitStart,hasHttp,hasHttps,ext,has_ip,word_blog,word_socmed,word_news,word_covid,Fake
0,False,True,False,0,0,False,False,False,False,0
1,False,True,False,1,0,False,False,True,True,0
2,False,True,False,1,0,False,False,False,False,0
3,False,True,False,2,0,False,False,False,True,0
4,True,False,True,3,0,False,False,False,False,0

In [13]:
#domDigitStart
dataset['domDigitStart']=np.where(dataset['domDigitStart']==True,1,0)

#hasHttp
dataset['hasHttp']=np.where(dataset['hasHttp']==True,1,0)

#hasHttps
dataset['hasHttps']=np.where(dataset['hasHttps']==True,1,0)

#has_ip
dataset['has_ip']=np.where(dataset['has_ip']==True,1,0)

#word_blog
dataset['word_blog']=np.where(dataset['word_blog']==True,1,0)

#word_socmed
dataset['word_socmed']=np.where(dataset['word_socmed']==True,1,0)

#word_news
dataset['word_news']=np.where(dataset['word_news']==True,1,0)

#word_covid
dataset['word_covid']=np.where(dataset['word_covid']==True,1,0)

dataset.head()

,domDigitStart,hasHttp,hasHttps,ext,has_ip,word_blog,word_socmed,word_news,word_covid,Fake
0,0,1,0,0,0,0,0,0,0,0
1,0,1,0,1,0,0,0,1,1,0
2,0,1,0,1,0,0,0,0,0,0
3,0,1,0,2,0,0,0,0,1,0
4,1,0,1,3,0,0,0,0,0,0

In [14]:
#hasHttps
dataset['has_ip']=np.where(dataset['has_ip']==True,1,0)

dataset.head()

,domDigitStart,hasHttp,hasHttps,ext,has_ip,word_blog,word_socmed,word_news,word_covid,Fake
0,0,1,0,0,0,0,0,0,0,0
1,0,1,0,1,0,0,0,1,1,0
2,0,1,0,1,0,0,0,0,0,0
3,0,1,0,2,0,0,0,0,1,0
4,1,0,1,3,0,0,0,0,0,0

In [15]:
### Train Test Split
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(dataset[['domDigitStart','hasHttp','hasHttps','ext','has_ip','word_blog','word_socmed','word_news','word_covid']], dataset['Fake'],test_size=0.3,random_state=500)

In [16]:
X_train.head()

,domDigitStart,hasHttp,hasHttps,ext,has_ip,word_blog,word_socmed,word_news,word_covid
479,0,0,1,1,0,0,0,0,0
462,0,0,1,1,0,0,0,0,0
780,0,0,1,1,0,0,0,0,0
221,0,0,1,1,0,0,0,0,0
608,0,0,1,1,0,0,0,0,1

In [17]:
X_train.isnull().sum()

domDigitStart    0
hasHttp          0
hasHttps         0
ext              0
has_ip           0
word_blog        0
word_socmed      0
word_news        0
word_covid       0
dtype: int64

In [18]:
## Chisquare Test
### returns 2 values: Fscore & pvalue
from sklearn.feature_selection import chi2
f_p_values=chi2(X_train,y_train)

In [19]:
f_p_values

(array([ 1.64327026,  5.98475563,  0.05071827, 17.32153638,         nan,
         6.00530081, 26.07648996,  0.09166092,  2.94740559]),
 array([1.99877365e-01, 1.44300417e-02, 8.21818114e-01, 3.15589845e-05,
                   nan, 1.42629621e-02, 3.28155504e-07, 7.62076163e-01,
        8.60155427e-02]))

In [20]:
p_values=pd.Series(f_p_values[1])
p_values.index=X_train.columns
p_values

domDigitStart    1.998774e-01
hasHttp          1.443004e-02
hasHttps         8.218181e-01
ext              3.155898e-05
has_ip                    NaN
word_blog        1.426296e-02
word_socmed      3.281555e-07
word_news        7.620762e-01
word_covid       8.601554e-02
dtype: float64

In [21]:
p_values.sort_index(ascending=True)

domDigitStart    1.998774e-01
ext              3.155898e-05
hasHttp          1.443004e-02
hasHttps         8.218181e-01
has_ip                    NaN
word_blog        1.426296e-02
word_covid       8.601554e-02
word_news        7.620762e-01
word_socmed      3.281555e-07
dtype: float64