In [1]:
%%script C:\Users\Jan Catherine\AppData\Local\Programs\Python\Python38\python.exe
import sys
print(sys.version)

3.8.10 (tags/v3.8.10:3d8993a, May  3 2021, 11:48:03) [MSC v.1928 64 bit (AMD64)]

In [2]:
pwd

'C:\\Users\\Jan Catherine\\Documents\\CMSC Notes\\CMSC 190 Part 2\\Codes\\MachineLearning'

In [3]:
import os
os.chdir('../../Data_Collection_02/02_Preprocessing/03_Merged')

In [4]:
### Code by Krish Naik (Tutorial 5- Feature Selection-
### Perform Feature Selection Using Chi2 Statistical Analysis)

import pandas as pd
dataset = pd.read_csv("09_urlfeat.csv")

In [5]:
dataset.head()

,entropy,domDigitStart,numDigits,numDots,numSemicolon,numAmpersand,numSlash,numHyphen,numUnderscore,numEqual,...,ext,num_%20,num_@,has_ip,registered,word_blog,word_socmed,word_news,word_covid,Fake
0,0.423389,False,0.16,0.285714,0,0.0,0.3,0.259259,0.0,0.0,...,ece,0.0,0,0,0.228571,False,False,False,False,0
1,0.537884,False,0.04,0.142857,0,0.0,0.3,0.518519,0.0,0.0,...,com,0.0,0,0,0.314286,False,False,False,True,0
2,0.591340,False,0.16,0.000000,0,0.0,0.5,0.333333,0.0,0.0,...,com,0.0,0,0,0.514286,False,False,True,False,0
3,0.356048,False,0.40,0.285714,0,0.0,0.2,0.111111,0.0,0.0,...,1186,0.0,0,0,0.800000,False,False,False,False,0
4,0.427847,False,0.28,0.142857,0,0.0,0.6,0.592593,0.0,0.0,...,com,0.0,0,0,0.257143,False,False,True,True,0

In [6]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8064 entries, 0 to 8063
Data columns (total 25 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   entropy        8064 non-null   float64
 1   domDigitStart  8064 non-null   bool
 2   numDigits      8064 non-null   float64
 3   numDots        8064 non-null   float64
 4   numSemicolon   8064 non-null   int64
 5   numAmpersand   8064 non-null   float64
 6   numSlash       8064 non-null   float64
 7   numHyphen      8064 non-null   float64
 8   numUnderscore  8064 non-null   float64
 9   numEqual       8064 non-null   float64
 10  numQuestion    8064 non-null   int64
 11  urlLength      8064 non-null   float64
 12  numParams      8064 non-null   float64
 13  hasHttp        8064 non-null   bool
 14  hasHttps       8064 non-null   bool
 15  ext            8063 non-null   object
 16  num_%20        8064 non-null   float64
 17  num_@          8064 non-null   int64
 18  has_ip         8064 non-null   int64
 19  registered     8064 non-null   float64
 20  word_blog      8064 non-null   bool
 21  word_socmed    8064 non-null   bool
 22  word_news      8064 non-null   bool
 23  word_covid     8064 non-null   bool
 24  Fake           8064 non-null   int64
dtypes: bool(7), float64(12), int64(5), object(1)
memory usage: 1.2+ MB

In [7]:
#dataset.Fake = dataset.Fake.astype('object')

In [8]:
dataset.head()

,entropy,domDigitStart,numDigits,numDots,numSemicolon,numAmpersand,numSlash,numHyphen,numUnderscore,numEqual,...,ext,num_%20,num_@,has_ip,registered,word_blog,word_socmed,word_news,word_covid,Fake
0,0.423389,False,0.16,0.285714,0,0.0,0.3,0.259259,0.0,0.0,...,ece,0.0,0,0,0.228571,False,False,False,False,0
1,0.537884,False,0.04,0.142857,0,0.0,0.3,0.518519,0.0,0.0,...,com,0.0,0,0,0.314286,False,False,False,True,0
2,0.591340,False,0.16,0.000000,0,0.0,0.5,0.333333,0.0,0.0,...,com,0.0,0,0,0.514286,False,False,True,False,0
3,0.356048,False,0.40,0.285714,0,0.0,0.2,0.111111,0.0,0.0,...,1186,0.0,0,0,0.800000,False,False,False,False,0
4,0.427847,False,0.28,0.142857,0,0.0,0.6,0.592593,0.0,0.0,...,com,0.0,0,0,0.257143,False,False,True,True,0

In [9]:
dataset.info()
dataset.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8064 entries, 0 to 8063
Data columns (total 25 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   entropy        8064 non-null   float64
 1   domDigitStart  8064 non-null   bool
 2   numDigits      8064 non-null   float64
 3   numDots        8064 non-null   float64
 4   numSemicolon   8064 non-null   int64
 5   numAmpersand   8064 non-null   float64
 6   numSlash       8064 non-null   float64
 7   numHyphen      8064 non-null   float64
 8   numUnderscore  8064 non-null   float64
 9   numEqual       8064 non-null   float64
 10  numQuestion    8064 non-null   int64
 11  urlLength      8064 non-null   float64
 12  numParams      8064 non-null   float64
 13  hasHttp        8064 non-null   bool
 14  hasHttps       8064 non-null   bool
 15  ext            8063 non-null   object
 16  num_%20        8064 non-null   float64
 17  num_@          8064 non-null   int64
 18  has_ip         8064 non-null   int64
 19  registered     8064 non-null   float64
 20  word_blog      8064 non-null   bool
 21  word_socmed    8064 non-null   bool
 22  word_news      8064 non-null   bool
 23  word_covid     8064 non-null   bool
 24  Fake           8064 non-null   int64
dtypes: bool(7), float64(12), int64(5), object(1)
memory usage: 1.2+ MB

,entropy,domDigitStart,numDigits,numDots,numSemicolon,numAmpersand,numSlash,numHyphen,numUnderscore,numEqual,...,ext,num_%20,num_@,has_ip,registered,word_blog,word_socmed,word_news,word_covid,Fake
0,0.423389,False,0.16,0.285714,0,0.0,0.3,0.259259,0.0,0.0,...,ece,0.0,0,0,0.228571,False,False,False,False,0
1,0.537884,False,0.04,0.142857,0,0.0,0.3,0.518519,0.0,0.0,...,com,0.0,0,0,0.314286,False,False,False,True,0
2,0.591340,False,0.16,0.000000,0,0.0,0.5,0.333333,0.0,0.0,...,com,0.0,0,0,0.514286,False,False,True,False,0
3,0.356048,False,0.40,0.285714,0,0.0,0.2,0.111111,0.0,0.0,...,1186,0.0,0,0,0.800000,False,False,False,False,0
4,0.427847,False,0.28,0.142857,0,0.0,0.6,0.592593,0.0,0.0,...,com,0.0,0,0,0.257143,False,False,True,True,0

In [10]:
##['hasHttp','hasHttps','hasHttp','hasHttps','ext','has_ip','Fake']
dataset = dataset[['domDigitStart','hasHttp','hasHttps','ext','has_ip','word_blog','word_socmed','word_news','word_covid','Fake']]
dataset.head()

,domDigitStart,hasHttp,hasHttps,ext,has_ip,word_blog,word_socmed,word_news,word_covid,Fake
0,False,False,True,ece,0,False,False,False,False,0
1,False,False,True,com,0,False,False,False,True,0
2,False,False,True,com,0,False,False,True,False,0
3,False,False,True,1186,0,False,False,False,False,0
4,False,False,True,com,0,False,False,True,True,0

In [11]:
### Label Encoding

import numpy as np

#ext
ordinal_label = {k: i for i, k in enumerate(dataset['ext'].unique(), 0)}
dataset['ext'] = dataset['ext'].map(ordinal_label)

In [12]:
dataset.head()

,domDigitStart,hasHttp,hasHttps,ext,has_ip,word_blog,word_socmed,word_news,word_covid,Fake
0,False,False,True,0,0,False,False,False,False,0
1,False,False,True,1,0,False,False,False,True,0
2,False,False,True,1,0,False,False,True,False,0
3,False,False,True,2,0,False,False,False,False,0
4,False,False,True,1,0,False,False,True,True,0

In [13]:
#domDigitStart
dataset['domDigitStart']=np.where(dataset['domDigitStart']==True,1,0)

#hasHttp
dataset['hasHttp']=np.where(dataset['hasHttp']==True,1,0)

#hasHttps
dataset['hasHttps']=np.where(dataset['hasHttps']==True,1,0)

#has_ip
dataset['has_ip']=np.where(dataset['has_ip']==True,1,0)

#word_blog
dataset['word_blog']=np.where(dataset['word_blog']==True,1,0)

#word_socmed
dataset['word_socmed']=np.where(dataset['word_socmed']==True,1,0)

#word_news
dataset['word_news']=np.where(dataset['word_news']==True,1,0)

#word_covid
dataset['word_covid']=np.where(dataset['word_covid']==True,1,0)

dataset.head()

,domDigitStart,hasHttp,hasHttps,ext,has_ip,word_blog,word_socmed,word_news,word_covid,Fake
0,0,0,1,0,0,0,0,0,0,0
1,0,0,1,1,0,0,0,0,1,0
2,0,0,1,1,0,0,0,1,0,0
3,0,0,1,2,0,0,0,0,0,0
4,0,0,1,1,0,0,0,1,1,0

In [14]:
#hasHttps
dataset['has_ip']=np.where(dataset['has_ip']==True,1,0)

dataset.head()

,domDigitStart,hasHttp,hasHttps,ext,has_ip,word_blog,word_socmed,word_news,word_covid,Fake
0,0,0,1,0,0,0,0,0,0,0
1,0,0,1,1,0,0,0,0,1,0
2,0,0,1,1,0,0,0,1,0,0
3,0,0,1,2,0,0,0,0,0,0
4,0,0,1,1,0,0,0,1,1,0

In [15]:
### Train Test Split
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(dataset[['domDigitStart','hasHttp','hasHttps','ext','has_ip','word_blog','word_socmed','word_news','word_covid']], dataset['Fake'],test_size=0.3,random_state=500)

In [16]:
X_train.head()

,domDigitStart,hasHttp,hasHttps,ext,has_ip,word_blog,word_socmed,word_news,word_covid
3200,0,0,1,3,0,0,0,1,0
2007,0,0,1,13,0,0,0,1,0
3284,0,0,1,3,0,0,0,0,1
5986,0,0,1,3,0,0,0,0,1
1359,0,0,1,6,0,0,0,1,0

In [17]:
X_train.isnull().sum()

domDigitStart    0
hasHttp          0
hasHttps         0
ext              0
has_ip           0
word_blog        0
word_socmed      0
word_news        0
word_covid       0
dtype: int64

In [18]:
## Chisquare Test
### returns 2 values: Fscore & pvalue
from sklearn.feature_selection import chi2
f_p_values=chi2(X_train,y_train)

In [19]:
f_p_values

(array([4.26455973e+00, 6.60755777e+00, 3.76767371e-02, 7.81861542e+02,
                   nan, 1.39281528e-02, 1.40410603e+01, 8.59854860e+00,
        4.68843665e-01]),
 array([3.89153324e-002, 1.01546835e-002, 8.46093695e-001, 4.73963342e-172,
                    nan, 9.06053716e-001, 1.78862070e-004, 3.36431017e-003,
        4.93519618e-001]))

In [20]:
p_values=pd.Series(f_p_values[1])
p_values.index=X_train.columns
p_values

domDigitStart     3.891533e-02
hasHttp           1.015468e-02
hasHttps          8.460937e-01
ext              4.739633e-172
has_ip                     NaN
word_blog         9.060537e-01
word_socmed       1.788621e-04
word_news         3.364310e-03
word_covid        4.935196e-01
dtype: float64

In [21]:
p_values.sort_index(ascending=True)

domDigitStart     3.891533e-02
ext              4.739633e-172
hasHttp           1.015468e-02
hasHttps          8.460937e-01
has_ip                     NaN
word_blog         9.060537e-01
word_covid        4.935196e-01
word_news         3.364310e-03
word_socmed       1.788621e-04
dtype: float64