In [1]:
%%script C:\Users\Jan Catherine\AppData\Local\Programs\Python\Python38\python.exe
import sys
print(sys.version)

3.8.10 (tags/v3.8.10:3d8993a, May  3 2021, 11:48:03) [MSC v.1928 64 bit (AMD64)]

In [2]:
import os
os.chdir('../../Data_Collection_02/02_Preprocessing/03_Merged')

In [3]:
#Code by Aaron G (Using TfidfVectorizer in Sklearn)
#(https://www.youtube.com/watch?v=HXjR2wDOfdA)

In [4]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [5]:
import pickle

import pandas as pd
data = pd.read_csv('02_TitleDesc.csv', encoding= 'unicode_escape')

In [6]:
#data = pd.read_table('Title_cleaned.txt', usecols=[0,1], encoding = 'unicode_escape')
os.chdir('../../../Data_Collection_03/02_Preprocessing/03_Merged')
testdata = pd.read_csv('02_TitleDesc.csv', encoding= 'unicode_escape')

In [7]:
data.head()

                                           TitleDesc  Fake
0  key arsenal rural India pandemic fight enemy v...     0
1  Coronavirus banks : Implications leaders avera...     0
2  Nail Salons Massage Parlors Tattoo Studios Cor...     0
3  Risk SARSCoV2 transmission aerosols rational n...     0
4  House prices Spain : COVID19 affected idealist...     0

In [8]:
data.shape

(8064, 2)

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8064 entries, 0 to 8063
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   TitleDesc  8064 non-null   object
 1   Fake       8064 non-null   int64
dtypes: int64(1), object(1)
memory usage: 126.1+ KB

In [10]:
data.Fake.value_counts()

0    7189
1     875
Name: Fake, dtype: int64

In [11]:
#Take out features and labels from the data
X = data.TitleDesc
y = data.Fake
print(X.shape)
print(y.shape)

(8064,)
(8064,)

In [12]:
Xtest = testdata.TitleDesc
ytest = testdata.Fake
print(Xtest.shape)
print(ytest.shape)

(850,)
(850,)

In [13]:
vectorizer = TfidfVectorizer(min_df=2)

In [14]:
X_dtm=vectorizer.fit_transform(X)
pickle.dump(vectorizer, open('tfidf_vectorizer.pkl', 'wb'))

In [15]:
tfidf_vectorizer = pickle.load(open('tfidf_vectorizer.pkl', 'rb'))
test_data = tfidf_vectorizer.transform(Xtest)

In [16]:
df_X = pd.DataFrame(test_data.toarray(), columns=tfidf_vectorizer.get_feature_names())

C:\Users\Jan Catherine\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [17]:
df_X.head()

,00,0002100µm,01,012,01lm,02,03,033nm,04,05,...,zombies,zona,zone,zoom,zoombombing,zoonotic,zoos,zuckerberg,zurich,µm
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [18]:
df_X.to_csv('03_TFIDF_01.csv',encoding='utf-8',columns=vectorizer.get_feature_names())

C:\Users\Jan Catherine\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)