In [1]:
%%script C:\Users\Jan Catherine\AppData\Local\Programs\Python\Python38\python.exe
import sys
print(sys.version)

3.8.10 (tags/v3.8.10:3d8993a, May  3 2021, 11:48:03) [MSC v.1928 64 bit (AMD64)]

In [2]:
import os
os.chdir('Documents/CMSC Notes/2022-2023 1st Sem/CMSC 190/Dataset-fix-01/fix-02')

In [3]:
import pandas as pd
dataset = pd.read_csv('year_registered.csv')

In [4]:
dataset.head()

   registered  Fake
0        1993     0
1        2003     0
2        2016     1
3        2013     0
4        2007     1

In [5]:
X = dataset["registered"]
y = dataset["Fake"].astype(bool)
X.shape

(3189,)

In [6]:
y.shape

(3189,)

In [7]:
import scipy.stats as stats
import scipy
import numpy as np
data_group1 = np.array(X)
data_group2 = np.array(y)
# Conduct Welch's t-Test and print the result
results = stats.ttest_ind(X, y, equal_var = False)
print(results)

Ttest_indResult(statistic=14120.940506146751, pvalue=0.0)

In [8]:
from pprint import pprint
pprint ([(i, scipy.stats.ks_2samp(X, y[:i])[1]) for i in range(200,len(y),200)])

[(200, 3.5e-323),
 (400, 5e-324),
 (600, 0.0),
 (800, 0.0),
 (1000, 0.0),
 (1200, 0.0),
 (1400, 0.0),
 (1600, 0.0),
 (1800, 0.0),
 (2000, 0.0),
 (2200, 0.0),
 (2400, 0.0),
 (2600, 0.0),
 (2800, 0.0),
 (3000, 0.0)]