In [1]:
%%script C:\Users\Jan Catherine\AppData\Local\Programs\Python\Python38\python.exe
import sys
print(sys.version)

3.8.10 (tags/v3.8.10:3d8993a, May  3 2021, 11:48:03) [MSC v.1928 64 bit (AMD64)]

In [2]:
import os
os.chdir('Documents/CMSC Notes/2022-2023 1st Sem/CMSC 190/Dataset-fix-01/fix-02')

In [3]:
import pandas as pd
dataset = pd.read_csv('Fake_year_registered.csv')

In [4]:
dataset.head()

   registered  Fake
0        2016     1
1        2007     1
2        2013     1
3        1997     1
4        2011     1

In [5]:
X = dataset["registered"]
y = dataset["Fake"].astype(bool)
X.shape

(364,)

In [6]:
import numpy as np

mean = np.mean(X)
print(mean)

2005.1950549450548

In [7]:
median = np.median(X)
print(median)

2005.0

In [8]:
q_10 = np.quantile(X, 0.10)
print(q_10)

1996.0

In [9]:
q_90 = np.quantile(X, 0.90)
print(q_90)

2016.0